body {
  width: 100vw;
  text-align: -webkit-center;
  background: rgb(18, 4, 110);
  background: linear-gradient(rgba(18, 4, 110, 1) 0%, rgba(13, 1, 92, 1) 50%);
}
.grid-container {
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns: 150px 252px;
  grid-template-rows: 20px 220px 165px;
}
.grid-start {
  grid-area: 1/1/1/3;
  color: #f8b801;
  text-align: end;
  border: #bc4a2f;
  text-shadow: 2px 0 0 #bc4a2f, -2px 0 0 #bc4a2f, 0 2px 0 #bc4a2f, 0 -2px 0 #bc4a2f, 1px 1px #bc4a2f, -1px -1px 0 #bc4a2f, 1px -1px 0 #bc4a2f, -1px 1px 0 #bc4a2f;
}

.grid-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  grid-area: 2/1/2/3;
  background-image: url(./images/Map.png);
  background-position: center;
  background-repeat: no-repeat;
}

.grid-map > img {
  padding-bottom: 37%;
}
.grid-map>div{
    width: 100%;
    text-align: left;
    display: grid;
}
.grid-map>div>img:first-child{
    margin-left: 37px;
}
.grid-icon {
  grid-area: 3/1/3/2;

}
.grid-selection {
  grid-area: 3/2/3/3;
  height: 130px;
  display: flex;
  flex-flow: wrap;
  align-self: flex-end;
  background-color: #777776;
  position: relative;
}
.grid-selection>img{
  margin: 2px;
}
.brazil{
    top: 62.5%;
    left: 75.5%;
}
.china{
  top: 15.2%;
  left: 42.1%;
}
.india{
  top: 42.5%;
  left: 26%;
}
.japan-honda{
  top: 24.2%;
  right: 35.2%;
}
.japan-ryu{
  top: 48.2%;
  right: 39.2%;
}
.spain{
  top: 10.2%;
  left: 7.2%;
}
.thailand{
  top: 59%;
  left: 39.5%;
}
.usa-guile{
  top: 17.2%;
    right: 22.9%;
}
.usa-ken{
  top: 10.2%;
  right: 9.8%;
}
.usa-balrog{
  top: 39.2%;
  right: 8.3%;
}
.ussr{
  top: 17.2%;
  left: 24.2%;
}

.flag{
  position: absolute;
}
.hidden{
  visibility: hidden;
}

.flash {
  animation: opacity 0.5s infinite;
  opacity: 1;
  position: absolute;
  margin: 0 !important;
  top: -6%;
  left:0%;
}

@keyframes opacity {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}